{% extends 'coreblog/index.html' %}
{% block change %}
<head>
    <meta charset="UTF-8">
    <title>Блог статей</title>
</head>
<body>
<div class="page-header">
    <h1>Блог обо всем</h1>
</div>
{% block main_content %}
<h3>Перечень статей</h3>
    <div class="row">
        <div class="col-md-6">
{% if records_list %}
    <table class="table">
    <tr>
        <th>Номер статьи</th><th>Заголовок</th><th>Дата публикации</th>
    </tr>
        {% for record in records_list %}
            <tr>
                <td align="center">{{ record.id }}</td><td><a href="{%  url 'coreblog:detail' record.id %}">
                {{ record.title }}</a> </td> <td>{{ record.pub_date }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
{% else %}
    <p>Статей нет</p>
{% endif %}
    <a href="/add" class="btn btn-xs btn-info">Добавить статью</a></span>
{% endblock main_content %}
</body>
{% endblock change %}