<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог статей</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
<body>
<div class="page-header">
    <h1 class="blog-title">Блог обо всем</h1>
</div>
{% block main_content %}
<h3>Перечень статей</h3>
{% if records_list %}
    <table class="table">
    <tr>
        <th>Номер статьи</th><th>Заголовок</th><th>Дата публикации</th>
    </tr>
        {% for record in records_list %}
            <tr>
                <td align="center">{{ record.id }}</td><td><a href="{%  url 'coreblog:detail' record.id %}">
                {{ record.title }}</a> </td> <td>{{ record.pub_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Статей нет</p>
{% endif %}
    <a class="btn btn-lg btn-success" href="/add" role="button">Добавить статью</a></span>
{% endblock main_content %}
</body>
</html>